<!DOCTYPE html>

<head>

{% block head %}

  <!-- Link the Static CSS Page and Bootstrap  -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <title>{% block title %} Lattes {% endblock %}</title>
  <link rel="icon" type="imagem/png" href="{{url_for('static', filename='images/icons/icon-lattes.png')}}" />

{% endblock %}
</head>

{% block navbar %} 

<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg p-3">
    <div class="container-fluid">
      <img src="{{url_for('static', filename='images/icons/icon_home.png')}}" alt="" width="30" height="24">
      <a class="navbar-brand text-white" href="{{ url_for('views.home') }}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white" href="{{ url_for('views.register') }}">Register</a>
        </div>
      </div>

      <!-- NAVBAR FORM SEARCH -->
      {% if index == True %}
        <form class="d-flex" method="POST">
          <input class="form-control me-2"  name="search_form" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      {% endif %}
    </div>
</nav>

{% endblock%} 


{% block content %}  {% endblock %}

<!-- FOOTER -->

{% block footer %}  
<footer class=" mt-5 p-4 text-light">
  <p class="text-center border-top p-1">© 2021 Company, Inc</p>
</footer>

{% endblock %}

{% block scripts %}

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
{% endblock %}


